In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib qt

In [51]:
fig=plt.figure(2)
f1=fig.add_subplot(2,1,1)
f2=fig.add_subplot(2,1,2)
#f3=fig.add_subplot(3,3,3)
#f4=fig.add_subplot(3,3,4)
#f5=fig.add_subplot(3,3,5)

NameError: name 'plot' is not defined

In [52]:
from numpy.random import randn
ft1=plt.plot(randn(200).cumsum(),'ro-')

In [54]:

ft2=f1.scatter(randn(1000),bins=20,color='k',alpha=0.3)

AttributeError: 'list' object has no attribute 'scatter'

In [27]:
#f1.set_title('first blood')
f1.set_label('time')

AttributeError: 'list' object has no attribute 'set_label'

In [85]:
data= pd.date_range('20170301',periods=6)

In [10]:
data

DatetimeIndex(['2017-03-01', '2017-03-02', '2017-03-03', '2017-03-04',
               '2017-03-05', '2017-03-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df=pd.DataFrame(np.random.randn(6,4),index=data,columns=list('ABCD'))

In [14]:
df[0:3]

                   A         B         C         D
2017-03-01 -0.252866  0.108429  0.062304  2.391361
2017-03-02 -0.648331  1.034882 -0.029572  1.323123
2017-03-03  1.781700  0.831179 -1.173316 -1.769239

In [15]:
df[2:5]

                   A         B         C         D
2017-03-03  1.781700  0.831179 -1.173316 -1.769239
2017-03-04 -0.008826 -1.025287  0.738282 -0.419978
2017-03-05 -0.791068 -0.423694  1.358092  0.350210

In [1]:
def fmr_substrate_background(data,background):
	new_index=np.linspace(min(min(abs(data.index.values)),min(abs(background.index.values))),max(max(abs(data.index.values)),max(abs(background.index.values))),data.index.size)
	new_data=pd.DataFrame(np.zeros((new_index.size,data.columns.values.size)),index=-[float(i) for i in new_index],columns=data.columns.values)
	new_background=pd.DataFrame(np.zeros((new_index.size,data.columns.values.size)),index=new_index,columns=data.columns.values)
	for i in range(data.columns.values.size):
		new_data[new_data.columns[i]]=np.interp(new_index,data.index.values,data[data.columns[i]].values)
		new_background[new_background.columns[i]]=np.interp(new_index,background.index.values,background[background.columns[i]].values)
	cleaned_data=new_data-new_background
	return cleaned_data